@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-apple-gray text-apple-black;
  }
}

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  
  .scroll-snap-start {
    scroll-snap-align: start;
  }
} 